{% extends 'main/base.html' %}
{% block content %}
<div class="album py-5 bg-body-tertiary" style="justify-content: center;">
    <div class="container">
        <a href="{% url 'main:message_create' %}" class="btn btn-secondary"> Добавить рассылку </a>
    </div>
</div>
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for message in message_list %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5>Рассылка для {{ message.client.email }}</h5>
                        {% if not message.mailing%}
                        <p class="card-text">Тема: {{ message.letter_subject }}</p>
                        <p><small class="text-body-secondary"><span class="text-danger">Время и даты рассылок не созданы</span></small></p>
                        {% else %}
                        <p><small class="text-body-secondary">Периодичность: {{ message.mailing.get_periodicity_display }}</small></p>
                        <p><small class="text-body-secondary">Время отправки: {{ message.mailing.mailing_time }}</small></p>
                        <p><small class="text-body-secondary">Дата начала рассылки: {{ message.mailing.start_date }}</small></p>
                        <p><small class="text-body-secondary">Дата начала рассылки: {{ message.mailing.end_date }}</small></p>
                        <p>
                            <small>
                                <span class="text-body-secondary">Статус:</span>
                                {% if message.mailing.mailing_status == 'created' %}
                                <span class="text-warning">{{ message.mailing.get_mailing_status_display }}</span>
                                {% elif message.mailing.mailing_status == 'started' %}
                                <span class="text-success">{{ message.mailing.get_mailing_status_display }}</span>
                                {% elif message.mailing.mailing_status == 'completed' %}
                                <span class="text-danger">{{ message.mailing.get_mailing_status_display }}</span>
                                {% endif %}
                            </small>
                        </p>
                        {% endif %}
                         <div class="d-flex justify-content-between align-items-left">
                            <div class="btn-group">
                                <a href="{% url 'main:message_detail' pk=message.pk %}" class="btn btn-outline-secondary">Подробнее</a>
                                <a href="{% url 'main:message_update' pk=message.pk %}"
                                   class="btn btn-secondary">Изменить</a>
                                <a href=""
                                   class="btn btn-outline-secondary">Отчёты по отправке</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}