{% extends 'main/base.html' %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow">
                    <div class="card-body">
                        <p>Тема письма: {{ message.letter_subject }}</p>
                        <p>Текст письма: {{ message.letter_body }}</p>
                        <p>Время отправки: {{ message.mailing_time }}</p>
                        <p>Автор: {{ message.owner }}</p>
                        <p>Периодичность отправки: {{ message.get_periodicity_display }}</p>
                        <p>
                            <span>Статус:</span>
                            {% if message.mailing_status == 'created' %}
                            <span class="text-warning">{{ message.get_mailing_status_display }}</span>
                            {% elif message.mailing_status == 'started' %}
                            <span class="text-success">{{ message.get_mailing_status_display }}</span>
                            {% elif message.mailing_status == 'completed' %}
                            <span class="text-danger">{{ message.get_mailing_status_display }}</span>
                            {% endif %}
                        </p>

                        <div class="btn-group">
                            <a href="{% url 'main:message_list' %}" class="btn btn-outline-secondary">Вернуться</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}