{% extends 'main/base.html' %}
{% block content %}
<div class="album py-5 bg-body-tertiary" style="justify-content: center;">
    <div class="container">
        <a href="{% url 'main:message_create' %}" class="btn btn-secondary"> Добавить рассылку </a>
        {% if user.is_staff%}
        <a href="{% url 'main:client_list' %}" class="btn btn-secondary"> Список клиентов для рассылки </a>
        {% endif %}
    </div>
</div>
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for message in message_list %}
            {% if message.owner == user or user.is_staff%}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text">Тема: {{ message.letter_subject }}</p>
                        {% if user.is_staff and message.mailing_status != 'completed' %}
                        <a href="{% url 'main:complete_mailing' pk=message.pk %}"
                           class="btn btn-danger">Завершить рассылку</a>
                        {% endif %}
                        <p><small class="text-body-secondary">Периодичность: {{ message.get_periodicity_display }}</small></p>
                        <p><small class="text-body-secondary">Время отправки: {{ message.mailing_time }}</small></p>
                        <p><small class="text-body-secondary">Автор: {{ message.owner }}</small></p>
                        <p>
                            <small>
                                <span class="text-body-secondary">Статус:</span>
                                {% if message.mailing_status == 'created' %}
                                <span class="text-warning">{{ message.get_mailing_status_display }}</span>
                                {% elif message.mailing_status == 'started' %}
                                <span class="text-success">{{ message.get_mailing_status_display }}</span>
                                {% elif message.mailing_status == 'completed' %}
                                <span class="text-danger">{{ message.get_mailing_status_display }}</span>
                                {% endif %}
                            </small>
                        </p>
                        <div class="d-flex justify-content-between align-items-left">
                            <div class="btn-group">
                                <a href="{% url 'main:message_detail' pk=message.pk %}"
                                   class="btn btn-outline-secondary">Подробнее</a>
                                {% if message.owner == user %}
                                <a href="{% url 'main:message_update' pk=message.pk %}"
                                   class="btn btn-secondary">Изменить</a>
                                {% endif %}
                                <a href="{% url 'main:mailinglogs_list' %}"
                                   class="btn btn-outline-secondary">Отчёты по отправке</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}